/* universal */

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.full-height {
    height: 100%;
}

div.parent-height {
    height: inherit;
}

div.parent-width {
    width: inherit;
}

div.parent-size {
    width: inherit;
    height: inherit;
}

div.remaining-space {
    display: flex;
    flex: 1 1 auto;
    justify-content: space-around;
    align-items: center;
}

/* container */

.container {
    width: 767px;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 768px) {
    .container {
        padding: 0px;
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        padding: 0px;
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        padding: 0px;
        width: 1170px;
    }
}

/* main element and classes rules */

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}
body {
    background: url("../images/shutterstock_70010998_720.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Verdana, Geneva, sans-serif;
    font-size: medium;
    display: flex;
    flex-flow: column;
}

.main {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: #FF9900;
}

.main-wrap {
    padding: 68px;
    width: 325px;
    height: 325px;
    background-color: #FF9900;
}
.main-wrap nav {

}
.main-wrap section {
}


section {
    margin: 10px;
    padding: 0px 15px;
    border-radius: 10px;
    border: solid 5px #7AC142;
    background-color: rgba(255,255,255,0.9);
}
@media (max-width: 991px) {
    section {
        border-radius: 0px;
        border: solid 5px #7AC142;
        background-color: rgba(255,255,255,0.9);
    }
}

/* Navigation */

div.box span {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    color: white;
}

div.box{
    display: flex;
    align-items: center;
    justify-content: space-around;

    background-color: rgba(122, 193, 66, 0.5);
    color: white;

    width: 150px;
    height: 150px;

    border: 5px solid white;

    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

div.box:hover{
    background-color: #7AC142;
}

nav {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    justify-content: space-between;
    width: 325px;
    height: 325px;
}

@media (max-width: 991px) {
    div#mainboxPages {
        margin: 5px 0px;
        width: inherit;
        height: 85px;

    }
}
@media (min-width: 992px) {
    #mainboxPages {
        width: 503px;
        height: 503px;
    }
}

div#commonboxPages {
    margin: 0px auto;
    display: table;
    border-spacing: 5px;
    width: 100%;
}
@media (min-width: 992px) {
    div#commonboxPages {
        position: relative;
        left: 74px;
        top: 74px;
        display: table;
        border-spacing: 5px;
        margin: 0;
        padding: 0;
        width: 355px;
        height: 355px;

        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}


div.boxPages {
    display: table-cell;
    overflow: hidden;
    background-color: rgba(122, 193, 66, 0.5);
    border: solid white 0px;
}

@media (min-width: 992px) {
    div.boxPages {
        display: table-cell;
        overflow: hidden;
        color: white;
        width: 150px;
        margin: 0;
        padding: 0;
        height: 150px;
        background-color: rgba(122, 193, 66, 0.5);
        border: solid white 5px;
    }
}
div.newclassPages{
    display: table-cell;
    width: inherit;
    color: white;
    height: inherit;
}
@media (min-width: 992px) {
    div.newclassPages {
        display: inherit ;
        width: inherit;
        height: inherit;
        vertical-align: middle;
        text-align: center;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
}

/* header */

header {
    background-color: white;
    flex: 0 1 120px;
}

header #logo {
    background-image: url(../images/logosmallworhombs.png);
    width: 385px;
    height: 100px;
}

header #logo:hover > #animated-box {
    -webkit-transform: rotate(405deg);
    -moz-transform: rotate(405deg);
    -ms-transform: rotate(405deg);
    -o-transform: rotate(405deg);
    transform: rotate(405deg);
}

header div.container {
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#contact a:link,
#contact a:visited {
    color: #818282;
    text-decoration: underline;
}

#contact a:hover,
#contact a:active {
    color: #F90;
    text-decoration: underline;
}

#animated-box {
    position: relative;
    top: 29px;
    left: 66px;

    width: 43px;
    height: 43px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;

    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 2s;
    -moz-transition: all 2s;
    -ms-transition: all 2s;
    -o-transition: all 2s;
    transition: all 2s;
}

.box-child {
    width: 19px;
    height: 19px;
    background-color: #7AC142;
}

header div.container #contact {
    color: #818282;
    font-size: xx-large;
    float: right;
    font-weight: bold;
    text-align: right;
}

.green-heading {
    color: #7AC142;
}